.advantages{
    min-height: 470px;
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    }
    &__icons{
        margin-top: 65px;
        max-width: 960px;
        display: flex;
        justify-content: space-between;
        align-items:flex-end;
    }
    &__icon{
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;    
        }
        &__text{
            margin-top: 26px;
            width: 247px;
            height: 81px;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0d0d0d;
        }
        a{
            text-transform: uppercase;
            color: #ff0000;

        }
    }
}