.consultation{
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../image/consultation/bg2.png) center (center/cover) no-repeat;
    &__descr{
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
    }
}